<div class="bostami-page-content-wrap">

    <!-- page title -->
    <div class="section-wrapper pl-60 pr-60 pt-60">
        <div class="bostami-page-title-wrap mb-15">
            <h2 class="page-title">contact</h2>
        </div>
    </div>

    <!-- contact form -->
    <div class="section-wrapper pr-60 pl-60 mb-60">
        <div class="contact-area bg-light-white-2">
            <h5 class="contact-title">I'm always open to discussing produuct</h5>
            <h5 class="contact-title-b">design work or partnerships.</h5>
            <form class="contact-form" action="https://formspree.io/f/xoqrgaab" method="post">
                <div class="form-input-item mb-60">
                    <label class="input-lebel name">name *</label>
                    <input name="name" class="input-box name" type="text" required>
                </div>
                <div class="form-input-item mb-60">
                    <label class="input-lebel gmail">Email *</label>
                    <input name="email" class="input-box gmail" type="Email" required>
                </div>
                <div class="form-input-item mb-40">
                    <label class="input-lebel message">Message *</label>
                    <textarea name="message" class="input-box message" cols="30"
                              rows="10"></textarea>
                </div>
                <div class="form-btn-wrap">
                    <button type="submit" value="Send" class="form-btn">submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- footer copyright -->
    <div class="footer-copyright text-center bg-light-white-2 pt-25 pb-25">
        <span>
            © 2024 All Rights Reserved by <a href="https://themeforest.net/user/elite-themes24"
                                             target="_blank" rel="noopener noreferrer">elite-themes24</a>.
        </span>
    </div>

</div>