
<div class="bostami-page-content-wrap">

    <!-- page title -->
    <div class="section-wrapper pl-60 pr-60 pt-60">
        <div class="bostami-page-title-wrap mb-35">
            <h2 class="page-title">about</h2>
            <p>
                I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web
                development and print media. I enjoy turning complex problems into simple, beautiful
                and intuitive designs.
            </p>
            <p>
                My aim is to bring across your message and identity in the most creative way. I
                created web design for many famous brand companies.
            </p>
        </div>
    </div>

    <!-- what-do -->
    <div class="section-wrapper pl-60 pr-60">

        <div class="bostami-section-title-wrap mb-30">
            <h3 class="section-title">What I do!</h3>
        </div>

        <div class="bostami-what-do-wrap mb-30">
            <div class="row">

                <!-- single item -->
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="bostami-what-do-item bg-prink">
                        <div class="icon">
                            <i class="fa-light fa-swatchbook"></i>
                        </div>
                        <div class="text">
                            <h4 class="title">Ui/Ux Design</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                euismod tincidunt volutpat.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- single item -->
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="bostami-what-do-item bg-catkrill">
                        <div class="icon">
                            <i class="fa-regular fa-grid-2"></i>
                        </div>
                        <div class="text">
                            <h4 class="title">App Development</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                euismod tincidunt volutpat.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- single item -->
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="bostami-what-do-item  bg-catkrill">
                        <div class="icon">
                            <i class="fa-regular fa-camera-retro"></i>
                        </div>
                        <div class="text">
                            <h4 class="title">Photography</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                euismod tincidunt volutpat.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- single item -->
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="bostami-what-do-item bg-prink bg-blue">
                        <div class="icon">
                            <i class="fa-regular fa-code"></i>
                        </div>
                        <div class="text">
                            <h4 class="title">Web Development</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                euismod tincidunt volutpat.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- client -->
    <div class="section-wrapper bg-light-white-2 pt-45 pb-60 pl-60 pr-60">

        <div class="bostami-section-title-wrap text-center mb-50">
            <h3 class="section-title">client</h3>
        </div>

        <div class="bostami-client-slider">
            <div class="swiper-container client_slide_active">
                <div class="swiper-wrapper">

                    <!-- single item -->
                    <div class="swiper-slide">
                        <img class="bostami-client-slider-logo"
                             src="~/assets/img/client/client-logo-1.png" alt="">
                    </div>

                    <!-- single item -->
                    <div class="swiper-slide">
                        <img class="bostami-client-slider-logo"
                             src="~/assets/img/client/client-logo-2.png" alt="">
                    </div>

                    <!-- single item -->
                    <div class="swiper-slide">
                        <img class="bostami-client-slider-logo"
                             src="~/assets/img/client/client-logo-3.png" alt="">
                    </div>

                    <!-- single item -->
                    <div class="swiper-slide">
                        <img class="bostami-client-slider-logo"
                             src="~/assets/img/client/client-logo-4.png" alt="">
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- footer copyright -->
    @await Html.PartialAsync("_Footer")

</div>