<div class="footer-copyright text-center pt-25 pb-25">
    <span>
        © 2024 All Rights Reserved by <a href="https://themeforest.net/user/elite-themes24"
                                         target="_blank" rel="noopener noreferrer">elite-themes24</a>.
    </span>
</div>