<div class="bostami-header-area mb-30 z-index-5">
    <div class="container">
        <div class="bostami-header-wrap">
            <div class="row align-items-center">

                <!-- logo -->
                <div class="col-6">
                    <div class="bostami-header-logo">
                        <a class="site-logo" href="https://bostami-bootstrap.ibthemespro.com/index.html">
                            <img src="~/assets/img/logo/logo-2.png" alt="">
                        </a>
                    </div>
                </div>

                <!-- menu btn -->
                <div class="col-6">
                    <div class="bostami-header-menu-btn text-right">
                        <div class="dark-btn dark-btn-stored dark-btn-icon">
                            <i class="fa-light fa-moon"></i>
                            <i class="fa-light fa-sun"></i>
                        </div>
                        <div class="menu-btn toggle_menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- mobile menu -->
        <div class="mobile-menu-wrap">
            <div class="mobile-menu mobile_menu">
            </div>
        </div>

    </div>
</div>